header {
    font-family: "Lovers Quarrel";
    font-size: 45px;
    font-weight: bold;
    color: rgba(10, 22, 47, 1);
    padding-left: 15px;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: aliceblue;
}
h1 {
    font-family:sans-serif;
    font-size: 35px;
    width: 50%;
    padding-left: 15px;
    color: aliceblue;
}
.fn,.ln,.home,.block{
    padding-left: 15px;
    display: inline-block;
    font-family: "Teachers", sans-serif;   


    color: aliceblue;
}
.First {
    border-radius: 5px;
    border-color: azure;
}
.pass,.mail,.house,.log {
    padding-left: 15px;
    font-family: "Teachers", sans-serif;   
    color: aliceblue;
}
.Box_1 {
    background-color: rgba(10, 22, 47, 1);
    width: 50%;
    float: left;
    height: 580px;
}
.log {
    padding-left: 15px;
}
#but1 {
    padding: 10px;
    font-family: "Teachers", sans-serif;  
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid white;
}
#but1:hover {
    cursor: pointer;
    transition:step-end;
}
.Box_2 {
    background-color: rgba(196, 204, 222, 1);
    float: left;
    width: 50%;
    background-image: url(club.jpg);
    height: 580px;
   
}
#del {
    padding-left: 15px;
    padding-top: 25px;
    
    width: 60px;
}
#f_ico {
    padding-left: 15px;
    padding-top: 15px;
    font-family: "Teachers", sans-serif;  
    float: left;
    color: black;
}
#me {
    width: 50px;
    padding-left: 15px;
    padding-top: 20px;
}
#s_ico {
    
    padding-left: 15px;
    padding-top: 15px;
    font-family: "Teachers", sans-serif;  
    float: left;
    color: black;
}

#but2 {
    padding: 10px;
    font-family: "Teachers", sans-serif;  
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid white;
}
#but2:hover {
    cursor: pointer;
    transition:step-end;
}